<ion-header>
  <ion-toolbar>
    <ion-title center text-center>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="profileForm" (keyup.enter)="login(form)" (ngSubmit)="login(form)">
  <ion-item>
    <ion-input placeholder="Correo" formControlName="correo" type="email"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-button expand="block" fill="outline" type="submit" >Log in</ion-button>
  <ion-button expand="block" color="success" type="submit">Register</ion-button>
  </form>
</ion-content>
