<!--<ion-header>
  <ion-toolbar>
    <ion-title center text-center>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
<form [formGroup]="profileForm">
  <div>
  <label>
    Correo:
    <input type="text" [formControl]="correo">
  </label>
  <p>
      Value: {{ correo.value }}
    </p>
</div>
<br>
<div>
  <label>
    Password:
      <input type="password" [formControl]="password">
    </label>
</div>
</form>
</ion-content>
-->


<ion-header>
  <ion-toolbar>
    <ion-title center text-center>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="profileForm" (keyup.enter)="login(form)" (ngSubmit)="login(form)">

    <ion-item>
      <ion-input placeholder="Nombre" formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Apellidos" formControlName="apellidos" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select placeholder="Seleccione" formControlName="sexo">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Correo" formControlName="correo" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="block" fill="outline" type="submit">Registrar</ion-button>
    <ion-button expand="block" fill="outline" color="dark" type="submit">Log in</ion-button>
  </form>
</ion-content>
